<!-- Get the last element from the current URL -->
{{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


<!-- Page is blog or blogpage for a specific year -->
{{ $is_blog := false }}
{{ if (eq $lastUrlElement "blog") }}
  {{ $is_blog = true }}
{{ end }}


<!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
{{ $current := "" }}
{{ if eq $is_blog true }}
  {{ $current = (where .Site.RegularPages "Section" "blog") }}
{{ else }}
  {{ $current = .Data.Pages }}
{{ end }}

<!-- Store for all elements (not uniq) -->
{{ $categoies := slice }}

<!-- find all catefories start with current -->
{{ range  (where $current "Params.categories" "!=" nil) }}
  {{ range .Page.Params.categories }}
    {{ $categoies = $categoies | append . }}
  {{ end }}
{{ end }}

<ol class="list-unstyled mb-0">
  <!-- Using uniq values -->
  {{ range $uniq_category := (uniq $categoies) }}
    <li>
      <a href="/categories/{{ lower $uniq_category }}"
        >{{ $uniq_category }}
        <span class="badge bg-secondary">
          <!-- compare and count one element after another -->
          {{ $counter := 0 }}
          {{ range $item := $categoies }}
            {{ if eq $item $uniq_category }}
              {{ $counter = add $counter 1 }}
            {{ end }}
          {{ end }}
          {{ $counter }}
        </span>
      </a>
    </li>
  {{ end }}
</ol>
