{{ $rss_path := printf "blog/%s" (dateFormat "2006" now) }}


<div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
    <div class="blog-widget">
      {{ with (.Site.GetPage $rss_path).OutputFormats.Get "RSS" }}
        <p>
          <a href="{{ .RelPermalink }}">
            <i class="fas fa-rss-square"></i>
            RSS
          </a>
        </p>
      {{ end }}
    </div>
    {{ partial "main/blog-widget-about.html" . }}
    {{ partial "main/blog-widget-archives.html" . }}
    {{ partial "main/blog-widget-categories.html" . }}
    {{ partial "main/blog-widget-tags.html" . }}
  </div>
</div>
