{{ define "main" }}

  <!-- Get the last element from the current URL -->
  {{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


  <!-- Page is blog or blogpage for a specific year -->
  {{ $is_blog := false }}
  {{ if (eq $lastUrlElement "blog") }}
    {{ $is_blog = true }}
  {{ end }}


  <!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
  {{ $current := "" }}
  {{ if eq $is_blog true }}
    {{ $current = (where .Site.RegularPages "Section" "blog") }}
  {{ else }}
    {{ $current = .Data.Pages }}
  {{ end }}


  <div class="container">
    <div class="section pt-5 pb-0">
      <div class="row g-5 justify-content-center">
        <div class="col-md-12 col-lg-11 col-xl-11">
          {{ if eq $is_blog false }}
            <h1 class="pb-4 mb-4 fst-italic">
              Archive &mdash;
              {{ $lastUrlElement }}
            </h1>
          {{ end }}
          <!-- Setup paginate from "current" -->
          {{ $paginator := .Paginate $current -}}
          {{ range $paginator.Pages -}}

            {{ partial "main/blog-post-list-layout.html" . -}}
          {{ end -}}
          <!-- Pagination -->
          <div class="pagination justify-content-center">
            {{ $.Scratch.Set "paginator" true }}
            {{ template "_internal/pagination.html" . }}
          </div>
        </div>

        {{ partial "main/blog-sidebar.html" . }}
      </div>
    </div>
  </div>
{{ end }}
