{{ define "main" }}

  <!-- Get the last element from the current URL -->
  {{ $lastUrlElement := index (last 1 (split (delimit (split .Permalink "/") "," "") ",")) 0 }}


  <!-- Page is blog or blogpage for a specific year -->
  {{ $is_blog := false }}
  {{ if (eq $lastUrlElement "blog") }}
    {{ $is_blog = true }}
  {{ end }}


  <!-- Check if path for pagination should be /blog/ or /blog/<year>/ -->
  {{ $current := "" }}
  {{ if eq $is_blog true }}
    {{ $current = (where .Site.RegularPages "Section" "blog") }}
  {{ else }}
    {{ $current = .Data.Pages }}
  {{ end }}




  <div class="container">
    <div class="row g-5 justify-content-center">
      <div class="col-md-12 col-lg-10 col-xl-10">
        {{ if eq $is_blog false }}
          <h1 class="pb-4 mb-4 fst-italic">
            Archive &mdash;
            {{ $lastUrlElement }}
          </h1>
        {{ end }}
        <!-- Setup paginate from "current" -->
        {{ $paginator := .Paginate $current -}}
        {{ range $paginator.Pages -}}
          <article class="blog-post mb-5">
            <h2 class="blog-post-title mb-0 mt-0">
              <a class="text-body" href="{{ .RelPermalink }}"
                >{{ .Params.title }}{{ if eq .Draft true }}
                  <span class="badge bg-danger">Draft</span>
                {{ end }}</a
              >
            </h2>
            <p class="blog-post-meta">
              {{ partial "main/blog-meta.html" . -}}
            </p>

            <p class="mb-0">
              {{ .Params.lead | safeHTML }}
            </p>
           <div class="blog-continue-reading">
            <a href="{{ .RelPermalink }}" class="btn btn-outline-primary" role="button">Continue reading</a>
           </div> 
          </article>
        {{ end -}}
        <!-- Pagination -->
        <div class="pagination justify-content-center">
          {{ $.Scratch.Set "paginator" true }}
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>

          {{ partial "main/blog-sidebar.html" . }}
    </div>
  </div>
{{ end }}
