.blog-author {
    float: left;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.blog-date {
    text-align: right;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.05em;
}
