.pill {
  color: $pink-500;
  font-family: $font-family-monospace;
  font-size: $font-size-sm;
  font-weight: $badge-font-weight;
  text-align: center;
  white-space: nowrap;
}

.pill-wrapper {
  vertical-align: baseline;
  display: inline-block;
  align-items: center;
  border-radius: 6em;
  padding-right: 0.7em;
  padding-left: 0;
  background-color: $beige;
  gap: 0;

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

.pill-img {
  background-color: darken($body-color-dark, 60%);
  color: $white;
  height: 1.5em;
  width: 1.5em;

  margin-bottom: 1px; 
  border-radius: 50%;
}

[data-dark-mode] body .pill {
  color: $blue-300;
}

[data-dark-mode] body .pill-img {
  color: $border-dark;
  background-color: $body-color-dark;
}

[data-dark-mode] body .pill-wrapper {
  background-color: $border-dark;
}

[data-dark-mode] .accordion-body {
  .pill-wrapper {
    background-color: $gray-900;
  }
}
