.rendered {
  background-color: $body-color-dark;
}

[data-dark-mode] body .rendered {
  background-color: darken($body-color-dark, 60%);
}


[data-dark-mode] .rendered {
  table {
    --bs-table-bg: $gray-300;
  }
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: $gray-300;
  }
}
