{{ define "main" }}

  <!-- Get members of the main room from data -->
  {{- $members := "0000" -}}
  {{ if isset $.Site.Data "matrix_rooms" }}
    {{- range $.Site.Data.matrix_rooms -}}
      {{- if eq .alias $.Site.Params.users_room -}}
        {{- with .members -}}
          {{- $members = math.Mul (math.Floor (math.Div . 100)) 100 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  <section class="section container-fluid mt-n3 pb-3 pt-5">


    <div class="container col-xxl-16 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 pt-2">
        <h1 class="display-5 fw-bold lh-1 mt-0 mb-0">
          <span>Python Community on&nbsp;</span
          >{{- partial "main/embedded_image.html" "matrix-logo" -}}
        </h1>
        <div class="col-12 col-sm-10 col-lg-8">
          <img src="/matrix-screenshot.png" 
               class="d-block mx-lg-auto img-fluid lazyload blur-up rounded" 
               alt="Matix Client" 
               width="700" 
               height="500">
        </div>
        <div class="col-lg-8 mt-0">
          <p class="lead mb-3 mt-5">
            {{- .Params.lead | safeHTML -}}
          </p>
          <p class="lead mb-5">
            Learn and explore Python with over 
            {{ $members }} 
            Members.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            
            <a class="btn btn-primary btn-lg px-4 me-md-2"
               role="button" 
               href="https://app.element.io/"
               aria-disabled="true" 
               target="_blank" 
               rel="noopener">
              Join now
            </a>
            <a class="btn btn-primary btn-lg px-4"
               role="button" 
               href="{{ "docs/prologue/introduction/" | absURL }}">
              Tutorial
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}
{{ define "sidebar-prefooter" }}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>

  <!-- START - Feature -->
  <section class="section section-sm">
    <div class="container">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa-solid fa-code"></i>
          </div>
          <h2>Formatting</h2>
          <p>
            Most clients support the Markdown markup language, including syntax
            highlighting for code and {{ partial "main/fast-latex-icon.html" }}
            math to format beautiful messages.
          </p>
          <a href="docs/tutorial/formatting/" class="icon-link">
            Tutorial
            <svg class="bi" width="1em" height="1em" id="chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa-solid fa-people-group"></i>
          </div>
          <h2>Code of Conduct</h2>
          <p>
            We are committed to provide a welcoming and inspiring community for
            all, and expect our Code of Conduct to be honored.
          </p>
          <a href="docs/code_of_conduct/" class="icon-link">
            Our Code of Conduct
            <svg class="bi" width="1em" height="1em" id="chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <i class="fa-solid fa-circle-nodes"></i>
          </div>
          <h2>Decentralized</h2>
          <p>
            When you send a message in Matrix, it is replicated over all the
            servers whose users are participating in a given conversation.
          </p>
          <a href="#" class="icon-link" target="_blank" rel="noopener">
            About Servers
            <svg class="bi" width="1em" height="1em" id="chevron-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- END - Feature -->

  <!-- Matrix Clients -->
  <section class="section section-sm my-3 py-5 bg-light">
    <div class="container">
      <h2 class="h3 my-0 text-center">Matrix Clients</h2>
      <div class="row justify-content-center g-4 mb-5">
        <!-- Element -->
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card h-100 text-center pt-1">
            <div class="card-body pb-1">
              <a class="stretched-link" href="https://element.io/"></a>
              {{- partial "main/embedded_image.html" "element-logo" -}}
              <p class="mb-n10">
                Element is our recommended client for Matrix. It is a glossy web
                client with an emphasis on performance and usability.
              </p>
              <p class="mb-n5 text-secondary">
                <font size="2"
                  >Web &#183; Windows &#183; Linux &#183; MacOS &#183; iOS
                  &#183; Android</font
                >
              </p>
            </div>
          </div>
        </div>
        <!-- Cinny -->
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card h-100 text-center pt-1">
            <div class="card-body pb-1">
              <a class="stretched-link" href="https://cinny.in/"></a>
              {{- partial "main/embedded_image.html" "cinny-logo" -}}
              <p class="mb-n10">
                A Matrix client where you can enjoy the conversation using
                simple, elegant and secure interface.
              </p>
              <p class="mb-n5 text-secondary"><font size="2">Web</font></p>
            </div>
          </div>
        </div>
        <!-- gomuks -->
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card h-100 text-center pt-1">
            <div class="card-body pb-1">
              <a
                class="stretched-link"
                href="https://maunium.net/go/gomuks/"
              ></a>
              <h4 class="h4 mt-3 pt-2 mb-4">gomuks</h4>
              <p class="mb-n10">
                A terminal Matrix client written in Go. Basic usage is possible,
                but expect bugs and missing features.
              </p>
              <p class="mb-n5 text-secondary">
                <font size="2">Windows &#183; Linux &#183; MacOS</font>
              </p>
            </div>
          </div>
        </div>
        <!-- end of cards -->
      </div>
      <div class="text-center pt-4">
        <p class="mb-0">
          <a href="https://matrix.org/clients/" target="_blank" rel="noopener"
            >Full List →</a
          >
        </p>
      </div>
    </div>
  </section>

  <!-- Blog Cards -->
  <section class="section section-sm mt-3 pt-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-14 col-xl-12">
          <h2 class="h3 mt-3 text-center">Latest from our blog</h2>
          <div class="card-list">
            {{ range first 4 (where .Site.RegularPages.ByDate.Reverse "Section"
              "blog")
            -}}
              {{ partial "main/blog-post-list-layout.html" . -}}
            {{ end -}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
{{ define "sidebar-footer" }}
  <section class="section section-sm container-fluid">
    <div class="row justify-content-center text-center">
      <div class="col-lg-9">{{- .Content -}}</div>
    </div>
  </section>
{{ end }}
