{{ define "main" }}

  <!-- Store all posts this user made -->
  {{ $posts := newScratch }}

  {{ range $post := where .Site.RegularPages "Section" "blog" -}}

    <!-- 
         Compile a slice of posts written by that user in the $post scratch
         under the "posts" key.
    -->
    {{ range $contributor := $post.Params.contributors }}
      {{ if eq $contributor $.Title }}
        {{ $posts.Add "posts" (slice $post) }}
      {{ end }}
    {{ end }}
  {{ end }}


  <div class="row justify-content-center">
    <div class="col-lg-12">
      <article>
        <h1 class="text-center">{{ .Title }}</h1>
        {{ $title := .Title }}
        <div class="text-center">{{ .Content }}</div>
        <h2 class="text-center mt-5 pt-5">My Blog Posts</h2>
        {{ range ($posts.Get "posts") -}}
          {{ partial "main/blog-post-list-layout.html" . -}}
        {{ end -}}
      </article>
    </div>
  </div>
{{ end }}
