<div class="alert alert-warning d-flex" role="alert">
  <div class="flex-shrink-1 alert-icon">⚠</div>
  <b>
    Every text or image you use must have been created or written by
    yourself!<br />
    <br />
    By creating a Pull Request, you agree that the image or text may be used
    without any restriction for community projects under the direction of the
    moderation team at any time.<br />
    <br />
    Non-compliance may have legal consequences and can lead to immediate
    exclusion from the community.
  </b>
</div>
